; {{ ansible_managed }}

include = /etc/php-fpm.d/*.conf

[global]
pid = /var/run/php-fpm/php-fpm.pid
error_log = {{ php_fpm_log }}
log_level = {{ php_fpm_log_level }}
;emergency_restart_threshold = 0
;emergency_restart_interval = 0
;process_control_timeout = 0
daemonize = yes
; See /etc/php-fpm.d/*.conf
